table
{
    width: 100%;
    border-collapse: collapse;
    }
td
{
    padding:0px 20px;
    border:1px solid #000;
    text-align: center;
}
td:last-child
{
    text-align: left;
}
th
{
    padding:0px 20px;
    border:1px solid #000
}
.green
{
    color: #ffffff;
    background-color: green;
}
tr:last-child td
{
    border:4px double #000;
    text-align: center;
    color: blue;
}
.center
{
    text-align: center;
    padding: 0;
    margin: 0;
}
